1. Download these data:
* https://www.cia.gov/the-world-factbook/field/reserves-of-foreign-exchange-and-gold/country-comparison/
* https://www.cia.gov/the-world-factbook/field/energy-consumption-per-capita/country-comparison/
* https://www.cia.gov/the-world-factbook/field/electricity/country-comparison/
* https://www.cia.gov/the-world-factbook/field/education-expenditures/country-comparison/

2. Clean and format the data frames as needed

3. Combine those dataframes into one. Decision: what to do to keep as many cases as possible.

4. Report the average, min and max for the variables (reserves, energy, electricity. education) by region.
5. Create new columns for each variable , so that they are in 5 intervals. Choose the same methods for the four variables. Two decisiones here.

6. Save the final result: country, region and the eight variables.

Rubric:
1. 10 points off if you do not use GitHub at all.
2. 5 points off if your code is not publiched using GitHub pages
3. 5 points of if your code is disorganized: should look like a tutorial, erase code not neeeded.
4. 3 points off for each decision poor decision.
5. 3 points off if README of repository does not explain what the repo is for.
6. 5 points off if final file NOT saved on GitHub
7. 3 points off for every variable not well formatted.
8. 3 points off if statisticas by region not computed.
9. 1 point off for each column still present which is not needed.

In [ ]:
# empezamos poniendo la ubicacion de los datos que se van a utiliza
data_education='https://github.com/RosaMuguerza/PC3/raw/refs/heads/main/Education%20expenditures.csv'
data_electricity='https://github.com/RosaMuguerza/PC3/raw/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv'
data_reserves='https://github.com/RosaMuguerza/PC3/raw/refs/heads/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv'
data_energy='https://github.com/RosaMuguerza/PC3/raw/refs/heads/main/Energy%20consumption%20per%20capita.csv'

In [ ]:
#hacemos la carga de archivos
import pandas as pd

education = pd.read_csv(data_education,header=0)
energy = pd.read_csv(data_energy,header=0)
electricity = pd.read_csv(data_electricity,header=0)
reserves = pd.read_csv(data_reserves,header=0)

In [ ]:
# LIMPIEZA DE DATOS
# empezamos por la revision de los datos subidos al dataframe
# Luego, se imprime una vista preliminar de cada conjunto de datos utilizando .info() para revisar el contenido de la data
reserves.info()
# se ve las columnas que contienen datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 195 non-null    object
 1   slug                 195 non-null    object
 2   value                195 non-null    object
 3   date_of_information  195 non-null    int64
 4   ranking              195 non-null    int64
 5   region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [ ]:
# chequeamos las primeras filas y usamos ".head()"
reserves.head()

,name,slug,value,date_of_information,ranking,region
0,China,china,"$3,265,000,000,000",2024,1,East and Southeast Asia
1,Japan,japan,"$1,160,000,000,000",2024,2,East and Southeast Asia
2,Switzerland,switzerland,"$822,130,000,000",2024,3,Europe
3,Russia,russia,"$597,217,000,000",2023,4,Central Asia
4,India,india,"$569,544,000,000",2024,5,South Asia

In [ ]:
# eliminación de datos vacios
reserves = reserves.drop(reserves.columns[[1, 3, 4]], axis=1)

In [ ]:
#  eliminar filas vacías de reserves
filas_vacias= reserves[reserves['Reserves'].isnull()]
display(filas_vacias)

Empty DataFrame
Columns: [Country, Reserves, region]
Index: []

In [ ]:
# renombramiento de columnas
reserves.rename(columns={ reserves.columns[1]: "Reserves" }, inplace = True)
reserves.rename(columns={ reserves.columns[0]: "Country" }, inplace = True)

In [ ]:
# tenemos data completa
# instalación de unidecode
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.11/dist-packages (1.4.0)

In [ ]:
#  solo queremos datos del ASCII
from unidecode import unidecode

# Apply unidecode to the 'Country' column to remove non-ASCII characters
reserves['Country']=reserves.Country.apply(unidecode)
reserves['region']=reserves.region.apply(unidecode)

AttributeError: 'DataFrame' object has no attribute 'Country'

In [ ]:
# eliminación de elementos que no son números
reserves['Reserves'] = reserves['Reserves'].str.replace(pat=r'[^\d.]', repl='', regex=True)

In [ ]:
# convertir variables a numeros, con nuestra data limpia
reserves['Reserves']=pd.to_numeric(reserves.Reserves)

In [ ]:
# ultima revision de la data que hicimos limpieza
reserves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 195 non-null    object
 1   slug                 195 non-null    object
 2   value                195 non-null    object
 3   date_of_information  195 non-null    int64
 4   ranking              195 non-null    int64
 5   region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [ ]:
# tenemos 3 columnas con datos necesarios

In [ ]:
# limpieza de education

In [ ]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 197 non-null    object
 1   slug                 197 non-null    object
 2   % of GDP             197 non-null    float64
 3   date_of_information  197 non-null    int64
 4   ranking              197 non-null    int64
 5   region               197 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.4+ KB

In [ ]:
# realizamos pasos similares a la limpieza de datos de reserves
education = education.drop(education.columns[[1,3,4]], axis=1)

IndexError: index 3 is out of bounds for axis 0 with size 3

In [ ]:
# renombramos las columnas
education.rename(columns={ education.columns[0]: "Country" }, inplace = True)
education.rename(columns={ education.columns[1]: "Education" }, inplace = True)

In [ ]:
# datos útiles ASSCII, eliminacion de acentos y carácteres especiales de las columnas especificadas
education['Country'] = education['Country'].apply(lambda x: unidecode(x))
education['region'] = education['region'].apply(lambda x: unidecode(x))

KeyError: 'Country'

In [ ]:
filas_vacias=education[education['Education'].isnull()]
display(filas_vacias)

Empty DataFrame
Columns: [Country, Education, region]
Index: []

In [ ]:
# revisión final del formateo
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    197 non-null    object
 1   Education  197 non-null    float64
 2   region     197 non-null    object
dtypes: float64(1), object(2)
memory usage: 4.7+ KB

In [ ]:
# limpieza de datos de electricity

In [ ]:
electricity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 211 non-null    object
 1   slug                 211 non-null    object
 2    kW                  211 non-null    object
 3   date_of_information  211 non-null    int64
 4   ranking              211 non-null    int64
 5   region               211 non-null    object
dtypes: int64(2), object(4)
memory usage: 10.0+ KB

In [ ]:
# eliinacion de columnas
electricity = electricity.drop(electricity.columns[[1, 3, 4]], axis=1)

In [ ]:
# renombramiento de columnas
electricity.rename(columns={ electricity.columns[1]: "Electricity" }, inplace = True)
electricity.rename(columns={ electricity.columns[0]: "Country" }, inplace = True)

In [ ]:
# datos útiles ASSCII, eliminacion de acentos y carácteres especiales de las columnas especificadas
electricity['Country'] = electricity['Country'].apply(lambda x: unidecode(x))
electricity['region'] = electricity['region'].apply(lambda x: unidecode(x))

In [ ]:
# elimino caráteres
electricity['Electricity'] = electricity['Electricity'].str.replace(pat=r'[^\d.]', repl='', regex=True)

In [ ]:
# Transformamos en variables a numéros
electricity['Electricity']=pd.to_numeric(electricity.Electricity)

In [ ]:
# ultima revision
electricity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      211 non-null    object
 1   Electricity  211 non-null    int64
 2   region       211 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.1+ KB

In [ ]:
# limpieza de energy

In [ ]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              195 non-null    object
 1   Energy               195 non-null    object
 2    Btu/person          195 non-null    object
 3   date_of_information  195 non-null    int64
 4   ranking              195 non-null    int64
 5   region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [ ]:
# Eliminacion de columnas con datos innecesarios
education = education.drop(education.columns[[1,3,4]], axis=1)

In [ ]:
# renombramiento de columnas
energy.rename(columns={ energy.columns[1]: "Energy" }, inplace = True)
energy.rename(columns={ energy.columns[0]: "Country" }, inplace = True)

In [ ]:
# datos útiles ASSCII, eliminacion de acentos y carácteres especiales de las columnas especificadas
energy['Country'] = energy['Country'].apply(lambda x: unidecode(x))
energy['region'] = energy['region'].apply(lambda x: unidecode(x))

In [ ]:
# filas vacias
filas_vacias=energy[energy['Energy'].isnull()]
display(filas_vacias)

Empty DataFrame
Columns: [Country, Energy,  Btu/person, date_of_information, ranking, region]
Index: []

In [ ]:
# ultima revision
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 195 non-null    object
 1   slug                 195 non-null    object
 2    Btu/person          195 non-null    object
 3   date_of_information  195 non-null    int64
 4   ranking              195 non-null    int64
 5   region               195 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.3+ KB

In [ ]:
# una vez limpios y formateados los datos se pasará a unir los 4 dataframe
# combinacion d elos dataframe
# Se utiliza merge(..., how="outer") para conservar todos los países posibles, incluso si no tienen datos en todas las variables.

In [ ]:
# chequeo de cantidad datos y seleccion de método adecuado
reserves.merge(energy,how='left',left_on='Country',right_on='Country').shape

(195, 8)

In [ ]:
# método 2, se selcciona este porque toma la mayor cantidad de datos
reserves.merge(energy,how='outer',left_on='Country',right_on='Country').shape

(202, 8)

In [ ]:
# primera combinación de data
p1=reserves.merge(energy,how='outer',left_on='Country',right_on='Country')
p1

,Country,Reserves,region_x,Energy,Btu/person,date_of_information,ranking,region_y
0,Afghanistan,"$9,749,000,000",South Asia,afghanistan,"3,380,000",2023.0,177.0,South Asia
1,Albania,"$6,455,000,000",Europe,albania,"27,407,000",2023.0,120.0,Europe
2,Algeria,"$68,448,000,000",Africa,algeria,"61,843,000",2023.0,81.0,Africa
3,American Samoa,NaN,NaN,american-samoa,"89,105,000",2019.0,59.0,Australia and Oceania
4,Angola,"$14,243,000,000",Africa,angola,"9,146,000",2023.0,151.0,Africa
...,...,...,...,...,...,...,...,...
197,Vietnam,"$92,238,000,000",East and Southeast Asia,vietnam,"40,263,000",2023.0,102.0,East and Southeast Asia
198,West Bank,"$1,328,000,000",Middle East,west-bank,"14,991,000",2023.0,140.0,Middle East
199,Yemen,"$1,251,000,000",Middle East,yemen,"2,987,000",2023.0,178.0,Middle East
200,Zambia,"$3,173,000,000",Africa,zambia,"8,265,000",2023.0,158.0,Africa
201,Zimbabwe,"$261,373,000",Africa,zimbabwe,"10,855,000",2023.0,147.0,Africa

In [ ]:
# combino los datos de elctricity y education
p2=education.merge(electricity,how='outer',left_on='Country',right_on='Country')
p2

KeyError: 'Country'

In [ ]:
Onlyp1=set(p1.Country)-set(p2.Country)
Onlyp1

NameError: name 'p2' is not defined

In [ ]:
Onlyp2=set(p2.Country)-set(p1.Country)
Onlyp2

In [ ]:
!pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.22.1-py3-none-any.whl.metadata (3.9 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Downloading thefuzz-0.22.1-py3-none-any.whl (8.2 kB)
Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 28.1 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.13.0 thefuzz-0.22.1

In [ ]:
# emparejamientos entre nombres de países en dos listas diferentes (Onlyp2 y Onlyp1), usando una comparación fuzzy (aproximada) para encontrar el país más parecido.

In [ ]:
from thefuzz import process as fz
# comparación entre ambos par no perder data
[(c,fz.extractOne(c,Onlyp1 )) for c in sorted(Onlyp2)]

ModuleNotFoundError: No module named 'thefuzz'

In [ ]:
# unión de (p1 y p2) por la columna "Country", incluso si algunos países no están en ambos DataFrames.
pf1=p1.merge(p2,how='outer',left_on='Country',right_on='Country')
pf1

In [ ]:
# hacemos renombre de la columna 2 por el nombre region para entender mejor
#cambiar de nombre a la columna 2 por Region

pf1.rename(columns={ pf1.columns[2]: "Region" }, inplace = True)
pf1

In [ ]:
#  unificación de  información duplicada o fragmentada en una sola columna, en la columna "Region".
pf1["Region"] = pf1["Region"].combine_first(pf1["region_y_x"])
pf1["Region"] = pf1["Region"].combine_first(pf1["region_x_y"])
pf1["Region"] = pf1["Region"].combine_first(pf1["region_y_y"])
pf1.drop(columns=["region_y_x", "region_x_y", "region_y_y"], inplace=True)

pf1.head()

In [ ]:
# cambiamos de posición  a la comuna region
cols = pf1.columns.tolist()
cols.remove('Region')
cols.insert(1, 'Region')
pf1 = pf1[cols]

pf1.head()

In [ ]:
# hacemos la unión final de todo para tener la data ordenada y completa
region_stats = pf1.groupby('Region')[['Reserves', 'Energy', 'Electricity', 'Education']].agg(['mean', 'min', 'max'])
region_stats

In [ ]:
# adicionales, estadisticas de las regiones
# Dividimos los valores de la columna 'Reserves' en 5 intervalos de igual tamaño
pf1['Reserves_interval'] = pd.cut(tf['Reserves'], bins=5, labels=False).astype('Int64')
pf1['Energy_interval'] = pd.cut(tf['Energy'], bins=5, labels=False).astype('Int64')
pf1['Electricity_interval'] = pd.cut(tf['Electricity'], bins=5, labels=False).astype('Int64')
pf1['Education_interval'] = pd.cut(tf['Education'], bins=5, labels=False).astype('Int64')

pf1.head()

In [ ]:
cols = pf1.columns.tolist()
cols_numerical = ['Reserves', 'Energy', 'Electricity', 'Education']
cols_interval = ['Reserves_interval', 'Energy_interval', 'Electricity_interval', 'Education_interval']

order2 = ['Country', 'Region']
for num_col, interval_col in zip(cols_numerical, cols_interval):
  order2.append(num_col)
  order2.append(interval_col)

pf1 = tf[order2]

pf1.head()

In [ ]:
# guardado de data final en csv

In [ ]:
pf1.to_csv('data_final.csv', index=False)